<tr>
    <td style="padding: 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
        <h1 style="margin: 0 0 10px; font-size: 25px; line-height: 30px; color: #333333; font-weight: normal;">  ${subject}  </h1>
        <br>
        <ul style="padding: 0; margin: 0; list-style-type: disc;">
            <li style="margin:0 0 10px 30px;" class="list-item-first">App name: <b>  ${appName}  </b></li>
            <li style="margin:0 0 10px 30px;">Username: <b>  ${username}  </b></li>
            <li style="margin: 0 0 10px 30px;">link:</li>
            <li style="margin: 0 0 0 30px;" class="list-item-last">  ${link}  </li>
        </ul>
    </td>
</tr>
